<!DOCTYPE html>
<html>
<head>
  <title>Pairmiscuous</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
      <%= link_to current_user.name, user_path(current_user) %>
  <%= link_to 'Log Out', signout_path %>
<% else %>
  <%=link_to "Sign in with Github", "/auth/github"%>
<% end %>

<%= yield %>

</body>
</html>
